<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorTarefas</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

@*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
O Componente NavLink é um componente especial do Blazor para gerar links de navegação interna.
Além de renderizar um <a href="">, ele: 
    - Aplica automaticamente a classe CSS "active" quando o link corresponde à URL atual.
    - Evita o recarregamento da página (navegação client-side)
    - Funciona com o roteador do Blazor
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

****************************************************************************************************
Resultado exemplo:
    
    <a href="/tarefas" class="active">Tarefas</a>
****************************************************************************************************

-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
Propriedade Match
Essa propriedade define quando o link será considerado ativo.
NavLinkMatch.All: O link é ativo apenas quando a URL atual corresponde exatamente ao href do NavLink.
NavLinkMatch.Prefix(padrão): O link é ativo quando a URL atual começa com o href do NavLink.
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*@

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home (SSR)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter (Auto)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather (Stream)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tarefas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tarefas (Server)
            </NavLink>
        </div>

        @* Tarefas pendentes *@
        @* 
            ***************************************************
            Ao acessar o componente por aqui, será exibido
            Somente as tarefas pendentes. 
            ***************************************************
        *@
        <div class="nav-item px-3">
            <NavLink class="nav-link text-warning" href="tarefas/pendentes" Match="NavLinkMatch.All">
                <span class="bi bi-hourglass-split" aria-hidden="true"></span> Pendentes
            </NavLink>
        </div>

        @* Tarefas concluídas *@
        @* 
            ***************************************************
            Ao acessar o componente por aqui, será exibido
            Somente as tarefas concluídas. 
            ***************************************************
        *@
        <div class="nav-item px-3">
            <NavLink class="nav-link text-success" href="tarefas/concluidas" Match="NavLinkMatch.All">
                <span class="bi bi-check-circle" aria-hidden="true"></span> Concluídas
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tarefas-resumo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Resumo (Wasm)
            </NavLink>
        </div>
    </nav>
</div>
